@import url('https://fonts.googleapis.com/css?family=Arapey|Stylish');




#head{
text-align: center;
background-color: #222;
color: white;
max-width:960px;

}

#head h1{
  border-bottom: 5px solid red;
}


.hnav ul{
  padding-left: 0;
  list-style: none;
  color: black;
  text-align: center;


}

.hnav li{
  display: inline-block;
  margin-right: 10px;
}

.hnav a{
  float: left;
  display: inline-block;
  padding: 10px;
  text-decoration: none;
}

.hnav a:visited{
  text-decoration: none;
  color: purple;
}

.hnav a:hover {
  background-color: #222;
  color: rgba(255,4,8,.8);
  text-decoration: underline;

}

.hnav a:active{
  color:yellow;
}


h2{
  text-align: center;
  font-family: "Courier New", sans-serif;
}

.educate {
  border: 5px solid red;
  text-align: left;
  border-collapse: separate;
  border-spacing: 10px;
  margin-bottom: 10px;
}

#work{
  border: 5px solid red;
  padding-left: 5px;
  border-collapse: separate;
  border-spacing: 10px;
  margin-bottom: 10px;
}

#work h2{
  font-family: "Courier New", sans-serif;
  font-size: 24px;

}

#work a:visited h2:visited{
  color: purple;
}

#work h2:hover{
  color: rgba(255,0,0,1);
}

#work  a:hover{
  color: blue;
}

#work a:active h2:active{
color: yellow;
}

#work p{
  font-weight: 400;
}

.leave{
  border-collapse: separate;
  border: 5px solid red;
  border-spacing: 10px;
  margin-bottom: 10px;
}

#sca{
  border: 5px solid red;
  border-spacing: 10px;
  margin-bottom: 10px;
}

#footer{
  background-color: #222;
  color: white;
  text-align:center;
}

body{
  background-image: url('Mxm2038.github.io/white-background.png');
  background-size: cover;
  background-repeat: no-repeat;
}
/*
main{
  display: grid;
  grid-template-rows: repeat(4 , 2fr);
  grid-gap:3px;
}

h1{
font-family: "Stylish", sans-serif;
font-weight: 400;
}

h2{
  font-family: "Courier New", sans-serif;
  font-weight: 400;
  text-decoration: none;
}

h2 a:hover{
color: blue;
background-color: white;
}

h3{

}

#ed{
text-decoration: none;
margin: (0px 3px);

}

#work{
  margin: (0px 0px);
}

body{
  font-family;
  font-size: 25px;
  color:black;
  text-align: left;
}



footer{

}
